/* Header Style */
.flex-header-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.flex-header-box ul,
li {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  padding: 0 5%;
}
.header a {
  font-size: 1.6em;
  font-weight: bold;
}
.nav-icon {
  display: none;
  font-size: 4em;
}
/* Banner Style */
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-card {
  height: 40%;
  width: 66%;
  color: #fff;
}
.banner-card p {
  font-size: 1.5em;
}
.banner-card img {
  border-radius: 5px;
  border: 1px solid #3e363f;
  opacity: 0.7;
}
