@media (min-width: 320px) and (max-width: 599px) {
  /* **ALL PAGES** */
  /* Header */
  /* Display the burger menu icon */
  .nav-icon {
    display: flex;
  }
  /* Hide the normal menu and restyle for burger active */
  .flex-header-box ul,
  .flex-header-box:active ul {
    display: none;
    position: absolute;
    padding: 20px;
    background: #fff;
    border: 5px solid #444;
    right: 20px;
    top: 60px;
    width: 50%;
    border-radius: 4px 0 4px 4px;
  }
  .flex-header-box li {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 0;
  }
  .flex-header-box:hover ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* Hide the Say Hi! button */
  .flex-header-box button {
    display: none;
  }
  /* Banner */
  .banner-card {
    width: 90%;
    height: 60%;
  }
  /* FOOTER - All pages*/
  .footer {
    flex-direction: column;
  }
  .footer-subscribe {
    width: 98%;
    padding: 1%;
  }
  .footer-subscribe button {
    margin: 1.5%;
  }
  .footer-nav {
    border-top: 5px solid #3e363f;
    border-bottom: 5px solid #3e363f;
    border-left: unset;
    border-right: unset;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1%;
    width: 98%;
  }
  .footer-btn {
    display: unset;
    margin: auto;
    width: 30%;
  }
  .footer-social {
    width: 98%;
    padding: 1%;
  }

  /* PER PAGE STYLING */
  /* Index page main content */
  /* Re-style article "cards" to display in a column for smaller screens */
  .article-card {
    grid-template-columns: 1fr 0.3fr;
    grid-template-rows: 0.1fr 0.2fr auto;
    width: 95%;
    margin: 2.5% 0;
  }
  .article-title {
    grid-area: 1 / 1 / 2 / 3;
    padding: 2%;
  }
  .article-body {
    grid-area: 3 / 1 / 4 / 3;
    padding: 3%;
  }
  .article-img {
    grid-area: 2 / 1 / 3 / 3;
    padding: 1%;
  }
  .article-img figcaption {
    font-size: 0.8em;
  }
  /* Blog post page */
  /* Blog post main content */
  .flex-main-blog {
    flex-direction: column;
  }
  .blog-post {
    width: unset;
    padding: 2%;
  }
  .blog-post-body p {
    margin: 5% 0;
  }
  .fig-right {
    float: right;
    margin: 1%;
    width: 15em;
  }
  .fig-left {
    float: left;
    margin: 1% 1%;
    width: 15em;
  }
  .blog-post-footer {
    width: 78%;
  }
  /* Aside styles */
  .aside-blog {
    width: unset;
  }
  .aside-box {
    margin-top: 3%;
    margin-bottom: 3%;
    height: unset;
    width: 100%;
  }

  /* Hide subscribe box as it isn't needed (subscribe would be right below in footer) */
  .aside-box:nth-last-child(1) {
    display: none;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  /* **ALL PAGES** */
  .flex-header-box button {
    margin-left: 2%;
  }
  /* FOOTER */
  .footer-subscribe {
    flex-direction: column;
  }
  /* Index page main content */
  .article-card {
    grid-template-columns: 1fr 0.3fr;
    grid-template-rows: 0.1fr auto;
    width: 85%;
    margin: 2.5% 0;
  }
  .article-title {
    grid-area: 1 / 1 / 2 / 3;
  }
  .article-body {
    grid-area: 2 / 1 / 3 / 2;
  }
  .article-img {
    grid-area: 2 / 2 / 3 / 3;
  }
  .article-img figcaption {
    font-size: 0.8em;
  }
  /* Blog post page main content */
  .flex-main-blog {
    flex-direction: column;
  }
  .blog-post {
    width: unset;
    padding: 2%;
  }
  .blog-post-footer {
    width: 45%;
  }
  /* Blog post aside */
  .aside-blog {
    flex-direction: row;
    flex-wrap: wrap;
    width: unset;
  }
  .aside-box {
    margin: 1%;
    height: 23.5em;
    width: 45%;
  }
}