/* Import Header CSS */
@import url("header.css");
/* Import Main Content CSS */
@import url("main-content.css");
/* Import Footer CSS */
@import url("footer.css");
/* Import media queries/mobile design */
@import url("mobile.css");

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  color: #3e363f;
}

a {
  text-decoration: none;
  color: #3e363f;
}
a:hover {
  color: #a1c181;
}
a:active {
  color: #44633f;
}
h1 {
  font-size: 4em;
  line-height: 1em;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 1.45em;
}
img {
  max-width: 100%;
  max-height: 100%;
}
p {
  line-height: 1.5em;
}
q {
  display: inline-block;
  background-color: #a1c181;
  border-left: solid 5px #44633f;
  padding: 0.5% 0.5% 0.5% 1.5%;
}
.thumbnail {
  border-radius: 4px 4px 0 0;
}
.button {
  background-color: #44633f;
  color: #fff;
  border-radius: 8px;
  font-size: inherit;
  font-weight: bold;
  border: none;
  height: 36px;
  padding: 0 1.5%;
  cursor: pointer;
}
.button:hover {
  background-color: #a1c181;
}
.button:active {
  background-color: #3e363f;
}
.txt-italic {
  font-style: italic;
}
.txt-bold {
  font-weight: bold;
}
.txt-under {
  text-decoration: underline;
}
/* Page layout - Index (grid) */
.container {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 10vh 32vh auto auto;
}
.header {
  grid-area: 1 / 1 / 2 / 4;
  display: flex;
  padding: 0.8%;
}
.banner {
  grid-area: 2 / 1 / 3 / 4;
  background-image: url("../img/green-leaf-plant-808510.jpg");
  border-top: 15px solid #3e363f;
  border-bottom: 15px solid #3e363f;
}
.main {
  grid-area: 3 / 1 / 4 / 4;
  background: rgb(62, 54, 63);
  background: linear-gradient(
    135deg,
    rgba(62, 54, 63, 1) 0%,
    rgba(161, 193, 129, 1) 100%
  );
  border-bottom: 15px solid #3e363f;
  padding: 1% 0;
}
.footer {
  grid-area: 4 / 1 / 5 / 4;
  display: flex;
  padding: 0.8%;
}

/* Page layout - Blog Posts (grid) */
.flex-main-blog {
  grid-area: 2 / 1 / 4 / 4;
  background: rgb(62, 54, 63);
  background: linear-gradient(
    135deg,
    rgba(62, 54, 63, 1) 0%,
    rgba(161, 193, 129, 1) 100%
  );
  border-top: 15px solid #3e363f;
  border-bottom: 15px solid #3e363f;
  padding: 1%;
  display: flex;
}
